RewriteEngine On

# If the request is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# If the request is not a file with .html extension
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# If the request is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# If the request is not a file with .php extension
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
